<a href="{% url "wishitem_detail" item.id %}" class="flex flex-col justify-center w-full border border-gray-200 rounded-none overflow-hidden">
    {% if item.picture %}
        <div class="">
            <img src="{{ item.picture.url }}" alt="picture" class="">
        </div>
    {% endif %}
    <div class="p-4">
        <h3 class="text-lg  uppercase">{{ item.title }}</h3>
        {% if item.description %}
            <p class="text-sm mt-1">{{ item.description }}</p>
        {% endif %}
    </div>
</a>
