{% extends "base.html" %}
{% load static %}

{% block title %}Вишлист{% endblock %}

{% block content %}
<div class="py-4 pl-6 pr-40">
    {% if not wishitems.exists %}
        <div class="text-center py-12 uppercase">
            <h2>Ваш вишлист пока пуст, Но это легко исправить</h2>
        </div>
    {% else %}
        <div class="pb-6">
            {% include "main_button.html" with url_name="wishitem_create" text="добавить желание" black=False %}
        </div>
    {% endif %}

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 justify-items-center">
        {% for item in wishitems %}{% include "wishlist/item.html" %}{% endfor %}
        {% include "wishlist/add_item_button.html" %}
    </div>
</div>
{% endblock %}
