{% extends "base.html" %}
{% load static %}

{% block title %}Вишлист{% endblock %}

{% block content %}
<div class="py-4 pl-6 pr-40">
    <div class="pt-4 pb-6 space-y-4 uppercase">
        <h2>вишлист {{ owner.user.first_name }}</h2>

        {% if not user.is_anonymous %}
            {% if is_following %}
                {% include "buttons/form_action_button.html" with url_name="follow_create" id=owner.id text="отписаться" %}
            {% else %}
                {% include "buttons/form_action_button.html" with url_name="follow_create" id=owner.id text="подписаться" black=True %}
            {% endif %}
        {% endif %}
    </div>

    {% if not wishitems.exists %}
        <div class="text-center py-12 uppercase">
            <h2>Этот вишлист пока пуст</h2>
        </div>
    {% endif %}

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 justify-items-center">
        {% for item in wishitems %}{% include "wishlist/item.html" %}{% endfor %}

        {% if is_owner %}{% include "wishlist/add_item_button.html" %}{% endif %}
    </div>
</div>
{% endblock %}
