{% load static %}

<button id="share-button" class="inline-block px-4 py-3 border border-gray-300 rounded-none hover:bg-gray-100 transition cursor-pointer leading-[1.15]">
    поделиться
</button>

<div id="share-modal" class="hidden fixed inset-0 z-50 flex pt-20 justify-center">
    <div class="bg-white p-4 border border-gray-300 w-[400px] h-[200px] flex flex-col justify-center">

        <div id="share-options">
            <button id="copy-link" class="block w-full px-4 py-3 border border-gray-300 rounded-none hover:bg-gray-100 transition text-sm uppercase mb-2">
                скопировать ссылку
            </button>

            <a href="https://t.me/share/url?url={{ request.build_absolute_uri|urlencode }}" target="_blank"
               class="block w-full px-4 py-3 border border-gray-300 rounded-none hover:bg-gray-100 transition text-sm uppercase text-center">
                телеграм
            </a>
        </div>

        <div id="link-copied" class="hidden text-center text-sm uppercase text-gray-600">
            ссылка скопирована
        </div>
    </div>
</div>

<script src="{% static 'js/share.js' %}"></script>
