default_language_version:
  python: "3.13"
repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.2.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.9
    hooks:
      - id: ruff
        args: ["--fix", "--config", "./pyproject.toml"]
      - id: ruff-format
        args: ["--config", "./pyproject.toml"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--toml", "./pyproject.toml"]
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: "v1.15.0"
  #   hooks:
  #     - id: mypy
  #       name: mypy-backend
  #       files: ^backend/
  #       additional_dependencies:
  #         [
  #           "django-environ>=0.12.0",
  #           "django-minio-storage>=0.5.7",
  #           "django-stubs[compatible-mypy]>=5.2.0",
  #           "django-tailwind[reload]>=4.0.1",
  #           "factory-boy>=3.3.3",
  #           "psycopg2-binary>=2.9.10",
  #           "pytest>=8.3.4",
  #         ]
  #       args: ["--config-file", "./backend/pyproject.toml"]
