{% extends "base.html" %}
{% load static %}

{% block title %}Подписки{% endblock %}

{% block content %}
    {% if profiles.exists %}
        <div class="px-6 md:pr-38 py-6 space-y-8">
            {% for profile in profiles %}
                <div class="flex flex-col space-y-4">
                    <a href="{% url "wishlist_profile" profile.id %}" class="hover:bg-gray-200 transition space-y-4">
                        <h2 class="uppercase">{{ profile.user.first_name }}</h2>

                        {% if not profile.wishitems_public.exists %}
                            <h2 class="text-center uppercase">Этот вишлист пока пуст</h2>
                        {% endif %}

                        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                            {% for item in profile.wishitems_public|slice:":4" %}
                                <div class="flex justify-center items-center h-[250px] overflow-hidden">
                                    {% if item.picture %}
                                        <img src="{{ item.picture.url }}" alt="item_picture" class="max-w-full max-h-full object-contain">
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h2 class="text-center uppercase">Пока что вы не подписались ни на один вишлист</h2>
    {% endif %}
{% endblock %}
