<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <p>Добрый день!</p>
    <p>Вы только что сделали резервацию желания {{ title }} из вишлиста {{ profile }}</p>
    <p>Все полезные ссылки:</p>
    <ul class="space-y-2">
        <li><a href="{{ wishitem_url }}">зарезервированное желание</a></li>
        <li><a href="{{ wishlist_url }}">вишлист</a></li>
        <li><a href="{{ register_url }}">регистрация</a></li>
    </ul>
    <p>Спасибо 💌</p>
</body>
</html>
