@import "tailwindcss";

@source "../../../templates/**/*.{html}";
@source "../../../users/templates/**/*.{html}";

html {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.07em;
  line-height: 1.6rem;
  font-family: "Arial", sans-serif;
  color: #000;
  background-color: #f8f8f8;
}
