<a href="{% url "wishitem_detail" item.id %}" class="flex flex-col w-full border border-gray-200 rounded-md overflow-hidden">
    {% if item.picture %}
        <div>
            <img src="{{ item.picture.url }}" alt="picture" class="w-full h-48 object-cover">
        </div>
    {% endif %}
    <div class="p-4">
        <h3 class="text-lg font-semibold">{{ item.title }}</h3>
        {% if item.description %}
            <p class="text-sm mt-1">{{ item.description }}</p>
        {% endif %}
    </div>
</a>
