{% extends "base.html" %}
{% load static %}

{% block title %}Вишлист{% endblock %}

{% block content %}
<div class="py-4 px-6">
    {% if not wishitems.exists %}
        <div class="text-center py-12">
            <p class="text-lg text-gray-600 py-6">Этот вишлист пока пуст.</p>
        </div>
    {% endif %}

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% include "wishlist/items.html" %}
        {% include "wishlist/button.html" %}
    </div>

</div>
{% endblock %}
