{% extends "base.html" %}
{% load static %}

{% block title %}Вишлист{% endblock %}

{% block content %}
<div class="py-4 px-6">

    {% if not is_owner %}
        <div class="flex justify-between items-center py-4">
            <p class="uppercase">
                Это вишлист {{ owner.user.last_name }} {{ owner.user.first_name }}.
            </p>
        </div>

        {% if not user.is_anonymous %}
        <form method="post" action="{% url 'follow_create' owner.id %}">
            {% csrf_token %}
            <button class="border px-4 py-2 rounded-xl">
                {% if is_following %}Отписаться{% else %}Подписаться{% endif %}
            </button>
        </form>
    {% endif %}
    {% endif %}

    {% if not wishitems.exists %}
        <div class="text-center py-12">
            <p class="text-lg text-gray-600 py-6">Этот вишлист пока пуст.</p>
        </div>
    {% endif %}

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% include "wishlist/items.html" %}
        {% if is_owner %}
            {% include "wishlist/button.html" %}
        {% endif %}
    </div>

</div>
{% endblock %}
