{% extends "base.html" %}
{% block title %}{{ wishitem.title }}{% endblock %}

{% block content %}
<div class="px-6 py-8">
    {% include "buttons/base_button.html" with url_name="wishlist_profile" id=wishitem.profile.id text="вернуться к вишлисту" %}
</div>
<div class="grid grid-cols-1 md:grid-cols-2 gap-8 pr-32 py-8 justify-items-center items-center">
    <div class="px-6">
        {% if wishitem.picture %}
            <img src="{{ wishitem.picture.url }}" alt="item_picture"
            class="max-w-[300px] max-h-[400px] md:max-w-[400px] md:max-h-[500px] object-contain">
        {% endif %}
    </div>
    <div class="place-self-start pr-8 pl-8 md:pl-2">
        <div class="space-y-2">
            <h2 class="uppercase">{{ wishitem.title }}</h2>
            <p class="">{{ wishitem.description }}</p>
            <p class="text-sm">{{ wishitem.get_price }}</p>
            {% if wishitem.link %}
                <a href="{{ wishitem.link }}" class="hover:text-gray-500 transition-all underline" target="_blank">перейти по ссылке</a>
            {% endif %}

            <div class="flex flex-row pt-8 space-x-4">
                {% if wishitem.reserved %}
                    <button disabled class="px-4 py-3 bg-gray-300 text-white rounded-none transition cursor-not-allowed">
                        зарезервировано
                    </button>

                    {% if wishitem.reserved.user == request.user %}
                        {% include "buttons/form_submit_button.html" with text="отменить бронь" %}
                    {% endif %}
                {% else %}
                    {% if wishitem.profile.user != request.user %}
                        {% include "buttons/form_submit_button.html" with text="зарезервировать" black=True %}
                    {% endif %}
                {% endif %}

            {% if wishitem.profile.user == request.user %}
                <div class="space-x-4">
                    {% include "buttons/base_button.html" with url_name="wishitem_update" id=wishitem.id text="редактировать" %}
                    <a href="{% url "wishitem_delete" wishitem.id %}" class="px-4 py-4 bg-red-600 text-white rounded-none hover:bg-red-700 transition">удалить</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
