<div class="flex flex-col space-y-4">
    <label for="{{ widget.attrs.id }}" class="px-4 py-3 border border-gray-200 rounded-none hover:bg-gray-100 cursor-pointer transition lowercase">загрузить</label>
    <input type="file" name="{{ widget.name }}" id="{{ widget.attrs.id }}" class="hidden" {% include "django/forms/widgets/attrs.html" %}>

    {% if widget.is_initial %}
        <div class="flex items-center gap-3 hidden">
            <label for="{{ widget.checkbox_id }}" class="uppercase text-red-600 cursor-pointer">Удалить</label>
            <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}" class="hidden">
        </div>
    {% endif %}
</div>
