{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<section class="flex justify-center items-center">
    <div class="w-full max-w-2xl pt-[60px] uppercase">
        <div class="flex mb-8">
            <a href="{% url 'login' %}" class="text-gray-500 hover:text-gray-800">авторизация</a>
            <p class="ml-4 text-gray-800 underline cursor-default">регистрация</p>
        </div>
        <h2 class="text-2xl mb-8">Регистрация</h2>
        <form method="post" id="register-form" class="space-y-8 text-gray-800">
            {% csrf_token %}
            {% include "registration/form_field.html" with field=form.first_name field_type="first_name" label="Имя" %}
            {% include "registration/form_field.html" with field=form.email field_type="email" label="Почта" %}
            {% include "registration/form_field.html" with field=form.password1 field_type="password" label="Пароль" %}
            {% include "registration/form_field.html" with field=form.password2 field_type="password" label="Подтверждение пароля" %}
            <div>
                <button type="submit"
                    class="w-full bg-black text-white py-4 px-4 hover:bg-gray-700 cursor-pointer uppercase">Зарегистрироваться</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}
