{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="grid grid-cols-1 md:grid-cols-2 gap-10 md:gap-8 pr-32 md:pt-4 pb-6 justify-items-center items-center">
    <div class="px-6">
        <div class="space-y-2">
            <h2 class="uppercase">
                Привет, {{ user.first_name|default:"друг" }}!
            </h2>
            <p>
                yourmirror — минималистичный сервис–вишлист
            </p>
            <p>
                здесь ты можешь:
            </p>
            <ul class="list-disc list-inside space-y-2 pl-4">
                <li>создать список желаний с описанием, ссылкой и фото</li>
                <li>делиться списком с близкими</li>
                <li>подписаться на вишлисты друзей</li>
                <li>подключить ТГ–бот для управления сервисом</li>
            </ul>
        </div>
        <div class="pt-8 space-x-4">
            {% if not user.is_authenticated %}
                {% include "main_button.html" with url_name="register" text="начать" black=True %}
                {% include "main_button.html" with url_name="login" text="уже есть аккаунт" black=False %}
            {% else %}
                {% include "main_button.html" with url_name="wishlist_me" text="мой вишлист" black=True %}
                {% include "main_button.html" with url_name="wishlist_me" text="тг-бот" black=False %}
            {% endif %}
        </div>
    </div>

    <div class="px-6">
        <img src="{{ MEDIA_URL }}public/home/main.png" alt="Список желаний"
            class="w-sm md:w-md object-contain"
            onmouseover="playSong()"
            onmouseout="pauseSong()">
    </div>

    <audio id="song" src="{{ MEDIA_URL }}public/home/main_song.mp3" preload="auto"></audio>
    <script src="{% static 'js/home.js' %}"></script>

</div>
{% endblock %}
