{% extends "base.html" %}

{% block content %}
<div class="grid grid-cols-1 lg:grid-cols-2 gap-8 min-h-full items-center pt-10 pr-32">
    <div class="justify-self-center px-4">
        <div class="space-y-2">
            <h2 class="uppercase">
                Привет, {{ user.first_name|default:"друг" }}!
            </h2>
            <p>
                yourmirror — минималистичный сервис–вишлист.
            </p>
            <p>
                здесь ты можешь:
            </p>
            <ul class="list-disc list-inside space-y-2 pl-4">
                <li>создать список желаний с описанием, ссылкой и фото</li>
                <li>делиться списком с близкими</li>
                <li>подписаться на вишлисты друзей</li>
                <li>подключить ТГ–бот для управления сервисом</li>
            </ul>
        </div>
        <div class="pt-8 space-x-4">
            {% if not user.is_authenticated %}
                {% include "main_button.html" with url_name="register" text="начать" black=True %}
                {% include "main_button.html" with url_name="login" text="уже есть аккаунт" black=False %}
            {% else %}
                {% include "main_button.html" with url_name="wishlist_me" text="мой вишлист" black=True %}
                {% include "main_button.html" with url_name="wishlist_me" text="тг-бот" black=False %}
            {% endif %}
        </div>
    </div>

<div class="justify-self-center px-4">
    <img src="{{ MEDIA_URL }}common/home/main.png" alt="Список желаний"
         class="max-h-[60vh] w-auto object-contain ml-auto"
         onmouseover="playSong()"
         onmouseout="pauseSong()">
</div>

<audio id="song" src="{{ MEDIA_URL }}common/home/main_song.mp3" preload="auto"></audio>

<script>
    const song = document.getElementById('song');

    function playSong() {
        song.play(); // Запускает песню
    }

    function pauseSong() {
        song.pause(); // Останавливает песню, когда курсор уходит
        <!-- song.currentTime = 0; // Сбрасывает песню в начало -->
    }
</script>
</div>
{% endblock %}
